*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Css do root  */

#root{
    height: 100svh;
    display: flex;
    flex-direction: column;
}

body{
    background-color: black;
    color: whitesmoke;
}

a{
    color: inherit;
    text-decoration: none;
}

/* CSS do header  */

.Header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.Header__link :hover{
    text-decoration: underline;
}

 /* Css do Main  */

.Main{
    padding: 20px;
    margin:  0 10px 10px;
    flex: 1;
    

    background-color: cadetblue;
    background-image: linear-gradient(to top, black, transparent);
    border-radius: 10px;
}
.Item-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Main__link :hover{
    text-decoration: underline;
}

/* Css do Artista */


.Artistas{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

}
.Artista{
    max-width: 100px;
}

.Artista_img{
    height: 140px;
    display: flex
;
    width: 140%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}